In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

In [2]:
# Step 1 : Demonstrate that the dataset can be read from the web into R 
url <- "https://raw.githubusercontent.com/tracyw98/Project-Proposal-/main/investments_VC.csv"
startup_data <- read_csv(url)
startup_data

Rows: 54294 Columns: 39
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): permalink, name, homepage_url, category_list, market, funding_tot...
dbl  (23): funding_rounds, founded_year, seed, venture, equity_crowdfunding,...
date  (3): founded_at, first_funding_at, last_funding_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      permalink                       name
1     /organization/waywire           #waywire
2     /organization/tv-communications &TV Communications
3     /organization/rock-your-paper   'Rock' Your Paper
⋮     ⋮                               ⋮
54292 NA                              NA
54293 NA                              NA
54294 NA                              NA
      homepage_url                 category_list
1     http://www.waywire.com       |Entertainment|Politics|Social Media|News|
2     http://enjoyandtv.com        |Games|
3     http://www.rockyourpaper.org |Publishing|Education|
⋮     ⋮                            ⋮
54292 NA                           NA
54293 NA                           NA
54294 NA                           NA
      market     funding_total_usd status    country_code state_code
1     News       17,50,000         acquired  USA          NY
2     Games      40,00,000         operating USA          CA
3     Publishing 40,000            operating EST          NA
⋮     ⋮          ⋮                 ⋮         ⋮            ⋮
54292 NA         NA                NA        NA           NA
54293 NA         NA                NA        NA           NA
54294 NA         NA                NA        NA           NA
      region        ⋯ secondary_market product_crowdfunding round_A round_B
1     New York City ⋯ 0                0                    0       0
2     Los Angeles   ⋯ 0                0                    0       0
3     Tallinn       ⋯ 0                0                    0       0
⋮     ⋮             ⋱ ⋮                ⋮                    ⋮       ⋮
54292 NA            ⋯ NA               NA                   NA      NA
54293 NA            ⋯ NA               NA                   NA      NA
54294 NA            ⋯ NA               NA                   NA      NA
      round_C round_D round_E round_F round_G round_H
1     0       0       0       0       0       0
2     0       0       0       0       0       0
3     0       0       0       0       0       0
⋮     ⋮       ⋮       ⋮       ⋮       ⋮       ⋮
54292 NA      NA      NA      NA      NA      NA
54293 NA      NA      NA      NA      NA      NA
54294 NA      NA      NA      NA      NA      NA

In [23]:
#step2: determine if there are NAs in each column. 
missing_market <- startup_data |>
  select(market) |>
  group_by(market) |>
  summarise(count = n()) |>
  arrange(market)


missing_status <- startup_data |>
  select(status) |>
  group_by(status) |>
  summarise(count = n()) |>
  arrange(status)


missing_funding <- startup_data |>
  select(funding_total_usd) |>
  group_by(funding_total_usd) |>
  summarise(count = n()) |>
  arrange(funding_total_usd)

missing_market 
missing_status
missing_funding

    market        count
1   3D            25
2   3D Printing    9
3   3D Technology  8
⋮   ⋮             ⋮
752 Writers          1
753 Young Adults     2
754 NA            8824

  status    count
1 acquired   3692
2 closed     2603
3 operating 41829
4 NA         6170

      funding_total_usd count
1     -                 8531
2     1                    1
3     1,00,00,00,000       2
⋮     ⋮                 ⋮
14616 99,99,997            1
14617 99,99,999            1
14618 NA                4856

In [33]:
glimpse(missing_funding)

Rows: 14,618
Columns: 2
$ funding_total_usd <chr> "-", "1", "1,00,00,00,000", "1,00,00,000", "1,00,00,…
$ count             <int> 8531, 1, 2, 489, 2, 1, 1, 1, 1, 749, 2, 1, 1, 1, 1, …

In [ ]:
selected_column <- startup_data |>
    na.omit()|>
    select (market,status, funding_total_usd)|>

In [66]:
#step 2: Clean and wrangle your data into a tidy format, change status to a factor
clean_startup_1 <- startup_data |>
    na.omit()|>
    select (market,status, funding_total_usd)|>
    mutate(status = as_factor(status))|>
     mutate(funding_total_usd = as.numeric(gsub(",", "", funding_total_usd)))

clean_startup_2 <- selected_column |> 
    na.omit() |>
    mutate(funding_total_usd = as.numeric(gsub("-", "", funding_total_usd)))

clean_startup_1
clean_startup_2

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

      market              status    funding_total_usd
1     News                acquired  1750000
2     Software            operating      NA
3     Health and Wellness operating      NA
⋮     ⋮                   ⋮         ⋮
21838 Biotechnology       operating 25000000
21839 Biotechnology       operating 34275015
21840 Enterprise Software operating 45000000

      market              status    funding_total_usd
1     News                acquired  1750000
2     Health and Wellness operating 1750000
3     E-Commerce          operating 2050000
⋮     ⋮                   ⋮         ⋮
19110 Biotechnology       operating 25000000
19111 Biotechnology       operating 34275015
19112 Enterprise Software operating 45000000

In [67]:
#step 3: Double checking to see if there are any left over NAs from selected_column_2
check_for_nas <- clean_startup_2  |>
  select(funding_total_usd) |>
  group_by(funding_total_usd) |>
  summarise(count = n()) |>
  arrange(funding_total_usd)
check_for_nas

     funding_total_usd count
1    30                1
2    50                1
3    80                1
⋮    ⋮                 ⋮
7152  3500000000       1
7153  5700000000       1
7154 30079503000       1

In [68]:
#step 4: summarizing the data to report the number of observations in each class

summary_market <- clean_startup_2|>
  select(market) |>
  group_by(market) |>
  summarise(count = n()) |>
  arrange(market)


summary_status <- clean_startup_2 |>
  select(status) |>
  group_by(status) |>
  summarise(count = n()) |>
  arrange(status)


summary_funding <- clean_startup_2 |>
  select(funding_total_usd) |>
  group_by(funding_total_usd) |>
  summarise(count = n()) |>
  arrange(funding_total_usd)

summary_market
summary_status
summary_funding

    market           count
1   3D               8
2   3D Printing      2
3   3D Technology    3
⋮   ⋮                ⋮
649 Women            3
650 World Domination 4
651 Writers          1

  status    count
1 acquired   2026
2 operating 16066
3 closed     1020

     funding_total_usd count
1    30                1
2    50                1
3    80                1
⋮    ⋮                 ⋮
7152  3500000000       1
7153  5700000000       1
7154 30079503000       1

In [72]:
#step 5: Splitting the data 

clean_data_split <- initial_split(clean_startup_2, prop = 0.75, strata = status)
data_train <- training(clean_data_split)
data_test <- testing(clean_data_split)

glimpse(data_test)

Rows: 4,779
Columns: 3
$ market            <chr> "Search", "Curated Web", "Curated Web", "Curated Web…
$ status            <fct> operating, acquired, operating, closed, operating, o…
$ funding_total_usd <dbl> 40000, 2535000, 4962651, 50000, 66450000, 3400000, 1…